<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}">
    <meta charset="UTF-8">
    <title>Book Exchange</title>
    <link rel="stylesheet" href="../../static/css/main.css">
</head>
<body>
<header th:fragment="header-nav">
    <nav class='nav-bar'>

        <ul class='site-nav'>
            <li>
                <a th:href="@{/home}">Home</a>
            </li>
            <li>
                <a th:href="@{/catalogue}">Books Catalogue</a>
            </li>
        </ul>
        <ul class='user-nav'>
            <li>
                <a th:href="@{/users/account}">Profile</a>
            </li>
            <li>
                <a th:href="@{/users/login}">Login</a>
            </li>
            <li>
                <a th:href="@{/users/register}">Register</a>
            </li>
            <li>
                <!--                TODO: implement with post!-->
                <a href="">Logout</a>
            </li>
        </ul>
    </nav>
</header>


<header th:fragment="header-nav-catalogue">
    <nav class='nav-bar'>

        <ul class='site-nav'>
            <li>
                <a th:href="@{/home}">Home</a>
            </li>
            <li>
                <a th:href="@{/catalogue}">Books Catalogue</a>
            </li>
            <li>
                <a th:href="@{/books/add}">Add book</a>
            </li>
            <li>
                <a th:href="@{/authors/add}">Add author</a>
            </li>
        </ul>
        <ul class='user-nav'>
            <li>
                <a th:href="@{/users/account}">Profile</a>
            </li>
            <li>
                <a th:href="@{/users/login}">Login</a>
            </li>
            <li>
                <a th:href="@{/users/register}">Register</a>
            </li>
            <li>
                <!--                TODO: implement with post!-->
                <a href="">Logout</a>
            </li>
        </ul>
    </nav>
</header>

</body>
</html>