<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
    <meta charset="UTF-8">
    <title>Book Exchange</title>
    <link rel="stylesheet" href="../static/css/reset-css.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
</head>
<body>
<header th:replace="~{fragments/header-nav::header-nav-catalogue}">
    <nav class='nav-bar'>

        <ul class='site-nav'>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="books-catalogue.html">Books Catalogue</a>
            </li>
            <li>
                <a href="book-add.html">Add book</a>
            </li>
            <li>
                <a href="author-add.html">Add author</a>
            </li>
        </ul>
        <ul class='user-nav'>
            <li>
                <a href="user-profile.html">Profile</a>
            </li>
            <li>
                <a href="user-login.html">Login</a>
            </li>
            <li>
                <a href="user-register.html">Register</a>
            </li>
            <li>
                <!--                TODO: implement with post!-->
                <a href="">Logout</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div class="cat book-add">

        <form class="cat-row search-form"
              action=""
              method="POST"
        >
            <div class="cat-col">
                <div class="cell">
                    <label for="title">Title :</label>
                    <br>
                    <input id="title" type="text"/>
                </div>
            </div>
            <div class="cat-col">
                <div class="cell">
                    <h3>Authors :</h3>
                    <div class="cat-tag">
                        <button class="tag-btn">✕</button>
                        Author1
                    </div>
                    <div class="cat-tag">
                        <button class="tag-btn">✕</button>
                        author2
                    </div>
                    <div class="cat-tag">
                        <button class="tag-btn">✕</button>
                        author2
                    </div>
                    <div class="cat-tag">
                        <button class="tag-btn">✕</button>
                        author2
                    </div>
                </div>
            </div>
            <div class="cat-col">
                <div class="cell">
                    <h3>Genres:</h3>
                    <div class="cat-tag">
                        <button class="tag-btn">✕</button>
                        genre1
                    </div>
                    <div class="cat-tag">
                        <button class="tag-btn">✕</button>
                        genre2
                    </div>
                </div>
            </div>
            <div class="cat-col">
                <div class="cell cell-btn">
                    <button type="submit">Create book</button>
                </div>
            </div>
        </form>
    </div>

    <div class="add-genres">
        <div class="cat-col">
            <div class="cell">
                <h3>Genres :</h3>
                <ul>
                    <li class="cat-tag"><button class="tag-btn">+</button> Fantasy</li>
                    <li class="cat-tag"><button class="tag-btn">+</button> Sci-Fi</li>
                    <li class="cat-tag"><button class="tag-btn">+</button> Military</li>
                    <li class="cat-tag"><button class="tag-btn">+</button> Motivational</li>
                    <li class="cat-tag"><button class="tag-btn">+</button> Health & Fitness</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="cat find-author">
        <form class="cat-row search-form ">
            <div class="cat-col">
                <div class="cell">
                    <label for="firstName">First name :</label>
                    <br>
                    <input id="firstName" type="text"/>
                </div>
            </div>
            <div class="cat-col">
                <div class="cell">
                    <label for="middleName">Middle name :</label>
                    <br>
                    <input id="middleName" type="text"/>
                </div>
            </div>
            <div class="cat-col">
                <div class="cell">
                    <label for="lastName">Last name :</label>
                    <br>
                    <input id="lastName" type="text"/>
                </div>
            </div>
            <div class="cat-col">
                <div class="cell cell-btn">
                    <button>Find authors</button>
                </div>
            </div>
        </form>

        <div class="cat-row search-result">
            <div class="cat-col">
                <div class="cell">
                    firstname
                </div>
            </div>
            <div class="cat-col">
                <div class="cell">
                    mid name
                </div>
            </div>
            <div class="cat-col">
                <div class="cell">
                    lastname
                </div>
            </div>
            <div class="cat-col">
                <div class="cell cell-btn">
                    <button>Add</button>
                </div>
            </div>
        </div>
        <div class="cat-row search-result">
            <div class="cat-col">
                <div class="cell">
                    firstname
                </div>
            </div>
            <div class="cat-col">
                <div class="cell">
                    mid name
                </div>
            </div>
            <div class="cat-col">
                <div class="cell">
                    lastname
                </div>
            </div>
            <div class="cat-col">
                <div class="cell cell-btn">
                    <button>Add</button>
                </div>
            </div>
        </div>
        <div class="cat-row search-result">
            <div class="cat-col">
                <div class="cell">
                    firstname
                </div>
            </div>
            <div class="cat-col">
                <div class="cell">
                    mid name
                </div>
            </div>
            <div class="cat-col">
                <div class="cell">
                    lastname
                </div>
            </div>
            <div class="cat-col">
                <div class="cell cell-btn">
                    <button>Add</button>
                </div>
            </div>
        </div>
    </div>


</main>
</body>
</html>