<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}">
    <meta charset="UTF-8">
    <title>Book Exchange</title>
    <link rel="stylesheet" href="../static/css/reset-css.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
</head>
<body>
<header th:replace="~{fragments/header-nav::header-nav}">
    <nav class='nav-bar'>

        <ul class='site-nav'>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="books-catalogue.html">Books Catalogue</a>
            </li>
        </ul>
        <ul class='user-nav'>
            <li>
                <a href="user-profile.html">Profile</a>
            </li>
            <li>
                <a href="user-login.html">Login</a>
            </li>
            <li>
                <a href="user-register.html">Register</a>
            </li>
            <li>
                <!--                TODO: implement with post!-->
                <a href="">Logout</a>
            </li>
        </ul>
    </nav>
</header>
<main>

    <!--    LENDING -->

    <div class="cat cat-home">

        <div class="cell title-row cat-col">
            Lending:
        </div>
        <div class="cat-row cat-header">
            <div class="cat-col">
                <div class="cell">
                    Title:
                </div>
            </div>
            <div class="cat-col ">
                <div class="cell">
                    Authors:
                </div>
            </div>
            <div class="cat-col">
                <div class="cell">
                    Requests Count:
                </div>
            </div>
            <div class="cat-col">
                <div class="cell">
                    Due Date:
                </div>
            </div>
            <div class="cat-col btn">
                <div class="cell">
                    Copy Details:
                    <!--                    TODO: request logic, form!-->
                    <!--                    <a href="copy-details.html">Copy Details</a>-->
                </div>
            </div>
        </div>

        <div class="cat-row">
            <div class="cat-col">
                <div class="cell">
                    The New Encyclopedia of Modern Bodybuilding: The Bible of Bodybuilding
                </div>
            </div>
            <div class="cat-col ">
                <div class="cell">
                    Arnold Schwarzenegger
                </div>
            </div>
            <div class="cat-col">
                <div class="cell">
                    2
                </div>
            </div>
            <div class="cat-col">
                <div class="cell">
                    24 Jan 2024
                </div>
            </div>
            <div class="cat-col btn">
                <div class="cell">
                    <a href="copy-details.html">Copy Details</a>
                </div>
            </div>
        </div>

    </div>
<!--    EO: LENDING -->


<!-- BORROWED -->
    <div class="cat cat-home">

        <div class="cell title-row cat-col">
            Borrowed:
        </div>
        <div class="cat-row cat-header">
            <div class="cat-col">
                <div class="cell">
                    Title:
                </div>
            </div>
            <div class="cat-col ">
                <div class="cell">
                    Authors:
                </div>
            </div>
            <div class="cat-col">
                <div class="cell">
                    Borrower:
                </div>
            </div>
            <div class="cat-col">
                <div class="cell">
                    Due Date:
                </div>
            </div>
            <div class="cat-col btn">
                <div class="cell">
                    Transaction Details:
                    <!--                    TODO: request logic, form!-->
                    <!--                    <a href="copy-details.html">Copy Details</a>-->
                </div>
            </div>
        </div>

        <div class="cat-row">
            <div class="cat-col">
                <div class="cell">
                    The New Encyclopedia of Modern Bodybuilding: The Bible of Bodybuilding
                </div>
            </div>
            <div class="cat-col ">
                <div class="cell">
                    Arnold Schwarzenegger
                </div>
            </div>
            <div class="cat-col">
                <div class="cell">
                    zeUzer
                </div>
            </div>
            <div class="cat-col">
                <div class="cell">
                    24 Jan 2024
                </div>
            </div>
            <div class="cat-col btn">
                <div class="cell">
                    <a href="trans-details.html">Trans Details</a>
                </div>
            </div>
        </div>

    </div>
    <!-- EO: BORROWED -->

</main>
</body>
</html>