<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
      <head th:fragment="head">
        <meta charset="UTF-8">
        <title>Book Exchange</title>
        <link rel="stylesheet" href="../static/css/reset-css.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
    </head>
<body>
    <body>
        
        <header>
            <nav class='nav-bar'>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="books-catalogue.html">Books Catalogue</a>
                    </li>
                    <li>
                        <a href="login.html">Login</a>
                    </li>
                    <li>
                        <a href="regsiter.html">Register</a>
                    </li>
                    <li>
        <!--                TODO: implement with post!-->
                        <a href="">Logout</a>
                    </li>
                </ul>
            </nav>
        </header>

</header>
    <h2>Welcome to the open exchange library!</h2>
</body>
</html>