<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}">
    <meta charset="UTF-8">
    <title>Book Exchange</title>
    <link rel="stylesheet" href="../static/css/reset-css.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
</head>
<body>
<header th:replace="~{fragments/header-nav::header-nav}">
    <nav class='nav-bar'>

        <ul class='site-nav'>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="books-catalogue.html">Books Catalogue</a>
            </li>
        </ul>
        <ul class='user-nav'>
            <li>
                <a href="user-profile.html">Profile</a>
            </li>
            <li>
                <a href="user-login.html">Login</a>
            </li>
            <li>
                <a href="user-register.html">Register</a>
            </li>
            <li>
                <!--                TODO: implement with post!-->
                <a href="">Logout</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div class='form-container login'>
        <form
                action="/users/login" method="POST">
            <label for="username">Username</label>
            <input id="username" type="text">
            <label for="password">Password</label>
            <input id="password" type="password">
            <button type="submit">Login</button>
        </form>
        <img th:src="@{/images/book-shelves-4.png}" alt="User form image">
    </div>
</main>
</body>
</html>