<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Exchange</title>
    <link rel="stylesheet" href="../static/css/reset-css.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
</head>
<body>
<header>
    <nav class='nav-bar'>
            <ul class='site-nav'>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="books-catalogue.html">Books Catalogue</a>
                </li>
            </ul>
            <ul class='user-nav'>
                <li>
                    <a href="login.html">Login</a>
                </li>
                <li>
                    <a href="register.html">Register</a>
                </li>
                <li>
                    <!--                TODO: implement with post!-->
                    <a href="">Logout</a>
                </li>
            </ul>
    </nav>
</header>
<main>
    <div class='form-container login'>
        <form
                action="/users/login" method="POST">
            <label for="username">Username</label>
            <input id="username" type="text">
            <label for="password">Password</label>
            <input id="password" type="password">
            <button type="submit">Login</button>
        </form>
        <img src="../static/images/book-shelves-4.png" alt="">
    </div>
</main>
</body>
</html>